.forget-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .forget-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(66, 68, 90, 1);
    max-width: 500px;
    width: 100%;
  }
  
  .forget-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    color:#009E94;
  }
  
  .forget-subtitle {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .forget-form {
    display: flex;
    flex-direction: column;
  }
  
  .forget-input-group {
    margin-bottom: 1rem;
  }
  
  .forget-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .forget-input:focus {
    border-color: #009E94;
    outline: none;
  }
  
  .forget-error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
  }
  
  .forget-submit-button {
    background:linear-gradient(93.03deg, #009E94 0.53%, #74B462 108%);
    color: white;
    font-size: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
  }
  
  .forget-submit-button:hover {
    background:linear-gradient(93.03deg, #009E94 0.53%, #74B462 108%);
  }
  
  .forget-links {
    text-align: center;
  }
  
  .forget-login-link a {
    color: #009E94;
    text-decoration: none;
  }
  
  .forget-login-link a:hover {
    text-decoration: underline;
  }
  
  .forget-message {
    color: green;
    text-align: center;
    margin-top: 10px;
  }
  